/Library
/obj
/Temp
/base.sln
/.vs
/*.apk
/.vscode
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/UnityHank_Art_Assets.sln
/Assembly-CSharp.csproj
/spine-unity-editor.csproj
/spine-unity.csproj
